<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files and directories as they are
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  # Append .htm to requests without an extension
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.[a-z0-9]+$ [NC]  # Ignore requests that already have an extension
    RewriteRule ^([^./]+)$ $1.html [L]
</IfModule>
# Handle 404 errors
ErrorDocument 404 /404.html